<!DOCTYPE html>
<html>
<head>
  <script src="jquery.js"></script>
  <title>logcat for iOS simulator</title>

  <style>
    .Warning {
      color: gray;
    }
    .Notice {
      color: gray;
    }
    .Error {
      color: black;
    }

    .app1 {
      color: #0000FF;
    }
    .app2 {
      color: #8028E0;
    }
    .app3 {
      color: #80F800;
    }
    .app4 {
      color: #FFA070;
    }
    .app5 {
      color: #FFD800;
    }
  </style>
</head>
<body>

<section>
  <pre id="logs"></pre>
</section>

<script>
  jQuery(function ($) {

    var logs = document.getElementById('logs');
    var es = new EventSource('/stream');
    es.onmessage = function(ev) {
      if (window.scrollY + document.documentElement.clientHeight >= document.documentElement.scrollHeight) {
          var scrollToBottom = true;
      }

      var html = process(ev.data);

      var log = document.createElement('div');
      log.innerHTML =  html + "\n";

      while (log.firstChild) {
          logs.appendChild( log.firstChild );
      }

      document.title = html.replace(/<.*?>/g, '') + ' - htmlcatgo';
      if (scrollToBottom) {
          window.scrollTo(0, document.body.scrollHeight);
      }
    };

    var i = 0;
    var apps = {};

    // Mar 11 23:50:54 gfx-mba.local Passbook[80061] <Warning>: Pass library connection interrupted.
    function process(text) {
      var matched = /(\w+ \d+ \d\d:\d\d:\d\d) (\S+) ([\w\.\-_]+)\[(\d+)\] <(\w+)>: (.+)/.exec(text);
      if (matched) {
        var pid = matched[4];
        apps[pid] = apps[pid] || (++i % 5);
        var params = {
          timestamp: matched[1],
          host: matched[2],
          app: matched[3],
          pid: pid,
          tag: matched[5],
          message: matched[6],
          appId: apps[pid],
        };

        text = "<span class='app%appId%'>%app%[%pid%]</span> %message%".replace(/%(\w+)%/g, function (matched, item) {
          return String(params[item]).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        });
      }

      return text;

    }


  });
</script>
</body>
</html>
