<!DOCTYPE html>
<html>
<head>
  <title>htmlcatgo</title>
</head>
<body>

<section>
  <pre id="logs"></pre>
</section>

<script>
var logs = document.getElementById('logs');
var es = new EventSource('/stream');
es.onmessage = function(ev) {
    if (window.scrollY + document.documentElement.clientHeight >= document.documentElement.scrollHeight) {
        var scrollToBottom = true;
    }

    var html = ev.data;

    var log = document.createElement('div');
    log.innerHTML =  html + "\n";

    while (log.firstChild) {
        logs.appendChild( log.firstChild );
    }

    document.title = html.replace(/<.*?>/g, '') + ' - htmlcatgo';
    if (scrollToBottom) {
        window.scrollTo(0, document.body.scrollHeight);
    }
};
</script>
</body>
</html>
